.aboutTitle {
    opacity: 0;
    transform: translate(7vw, 0vw);
    transition: 0.25s;
}
.aboutContent.enter-active .aboutTitle, .aboutContent.enter-done .aboutTitle{
    opacity: 1;
    transform: translate(0vw, 0vw);
    transition: 0.25s 0.15s;
}
.aboutContent.exit .aboutTitle{
    opacity: 0;
    transform: translate(-15vw, 0vw);
    transition: 0.25s 0s;
}


.aboutTextBlock span:nth-child(1){
    opacity: 0;
    transform: translate(7vw, 0vw);
    transition: 0.25s;
}
.aboutContent.enter-active .aboutTextBlock span:nth-child(1), .aboutContent.enter-done .aboutTextBlock span:nth-child(1){
    opacity: 1;
    transform: translate(0vw, 0vw);
    transition: 0.25s 0.2s;
}
.aboutContent.exit .aboutTextBlock span:nth-child(1){
    opacity: 0;
    transform: translate(-15vw, 0vw);
    transition: 0.25s 0s;
}


.aboutTextBlock span:nth-child(2){
    opacity: 0;
    transform: translate(7vw, 0vw);
    transition: 0.25s;
}
.aboutContent.enter-active .aboutTextBlock span:nth-child(2), .aboutContent.enter-done .aboutTextBlock span:nth-child(2){
    opacity: 1;
    transform: translate(0vw, 0vw);
    transition: 0.25s 0.25s;
}
.aboutContent.exit .aboutTextBlock span:nth-child(2){
    opacity: 0;
    transform: translate(-15vw, 0vw);
    transition: 0.25s 0s;
}


.aboutTextBlock span:nth-child(3){
    opacity: 0;
    transform: translate(7vw, 0vw);
    transition: 0.25s;
}
.aboutContent.enter-active .aboutTextBlock span:nth-child(3), .aboutContent.enter-done .aboutTextBlock span:nth-child(3){
    opacity: 1;
    transform: translate(0vw, 0vw);
    transition: 0.25s 0.3s;
}
.aboutContent.exit .aboutTextBlock span:nth-child(3){
    opacity: 0;
    transform: translate(-15vw, 0vw);
    transition: 0.25s 0s;
}


.aboutTextBlock span:nth-child(4){
    opacity: 0;
    transform: translate(7vw, 0vw);
    transition: 0.25s;
}
.aboutContent.enter-active .aboutTextBlock span:nth-child(4), .aboutContent.enter-done .aboutTextBlock span:nth-child(4){
    opacity: 1;
    transform: translate(0vw, 0vw);
    transition: 0.25s 0.35s;
}
.aboutContent.exit .aboutTextBlock span:nth-child(4){
    opacity: 0;
    transform: translate(-15vw, 0vw);
    transition: 0.25s 0s;
}