:root {
  --mainColor: #00a9ff;
  --additionalColor: rgba(16, 175, 224, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 5, 12, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

body {
  background-color: rgba(4, 5, 12, 1);
  color: white;
  font-family: "MazzardM";
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.5px;
  /* cursor: none; */
  cursor: url('/cursor/lavawebCursor.cur'), default;
}

canvas {
  opacity: 1;
  z-index: 1;
}

.canvasParent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div > img {
  object-fit: contain;
  object-position: center;
}

svg {
  fill: black;
}

*::-webkit-scrollbar {
  display: none;
  width: 4px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: rgba(255,255,255,0.15);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(42,211,170,1), rgba(0, 206, 255, 1));
}





















.contentContainer, .glowContentContainer {
  flex-direction: column;
  position: fixed;
  border-radius: var(--borderRadius);
  width: var(--contentContainerWidth);
  height: var(--contentContainerHeight);
  overflow: hidden;
}

.glowContentContainer {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: var(--borderRadius);
  pointer-events: none;
  overflow: auto;
  box-shadow: 0px 0px 26px #0E22957A ;
}

.fullscreenContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.videoback {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.contentVideoback {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% + 0vw);
  height: calc(100% + 0vh);
}

.videoback > video, .contentVideoback > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.leftMenuContainer {
  align-items: center;
  position: fixed;
  left: var(--paddingX);
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--leftMenuWidth);
  border-radius: 4vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.25);
  flex-direction: column;
}


.leftMenuUl {
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: "Jost";
  letter-spacing: 1px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4vw;
  backdrop-filter: blur(8px);
}

.leftMenuLi {
  width: var(--leftMenuWidth);
  height: var(--leftMenuWidth);
  /* cursor: url('/cursor/lavawebCursorHover.cur'), pointer; */
}
.leftMenuLi img {
  width: var(--leftMenuIconSize);
  height: var(--leftMenuIconSize);
  /* cursor: url('/cursor/lavawebCursorHover.cur'), pointer; */
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
  transform: translate(-50%, -50%) scale(1);
  transition: 0.1s;
  pointer-events: none;
}
.leftMenuLi:hover img {
  transform: translate(-50%, -65%) scale(1.05);
}

.leftMenuActivePage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  width: var(--leftMenuWidth);
  height: var(--leftMenuWidth);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.205);
  transition: all 0.75s, width 0s, height 0s;
  pointer-events: none;
}

.menuLiNameBlock {
  font-family: "MazzardM";
  letter-spacing: 2px;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%) scaleX(0) scaleY(0);
  transition: 0.1s;
}
.leftMenuLi:hover .menuLiNameBlock{
  transform: translate(-50%, -35%) scaleX(0.75) scaleY(1);
}


.liNameBlock {
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%);
}

.liLine {
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: white;
  opacity: 0;
  left: calc(0% + 5px);
  top: 50%;
  transform: translate(0px, -50%);
  transition: 0.15s ease-in-out;
}

.leftMenuLi:hover .liLine{
  left: calc(100% + 5px);
  opacity: 1;
  width: 10px;
}

.liNameWidth {
  width: 100%;
}
.liNameOverflow {
  font-family: "Montserrat";
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.15s 0s;
}
.leftMenuLi:hover .liNameOverflow {
  width: 100%;
  transition: 0.15s 0.07s;
}
.liName {
  opacity: 1;
}




.leftMenuActivePageIcon {
  top: -1px;
  margin-left: calc(calc(calc(var(--leftMenuWidth) - var(--leftMenuIconSize)) / 2) - 2px);
  margin-right: calc(calc(calc(var(--leftMenuWidth) - var(--leftMenuIconSize)) / 2) - 2px);
}
.leftMenuActivePageLine{
  content: '';
  display: flex;
  position: absolute;
  left: calc(var(--leftMenuWidth) - 1px);
  top: 50%;
  transform: translate(0, -50%);
  width: 1px;
  height: calc(var(--leftMenuIconSize) * 0);
  background-color: rgba(255, 255, 255, 0.75);
  transition: 0.25s;
}

.leftMenuActivePageName {
  position: absolute;
  left: var(--leftMenuWidth);
  top: 50%;
  transform: translate(0px, -50%);
  align-items: center;
  padding: 0px 0px 0px 1.5vw;
  color: white;
  font-size: 0.9vw;
  font-weight: 600;
  overflow: hidden;
}

.leftMenuActivePageNameText {
  transition: 0.25s;
  transform: translate(-200px);
}




























/* MAINPAGE */

.page {
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  width: -webkit-fill-available;
  height: 100%;
  /* margin: 0 calc(var(--paddingX)* 0.5) 0 var(--paddingX); */
  overflow: hidden;
  z-index: 1;
  transition: 0.25s;
}
.page.main *::selection{
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

.pageContent {
  justify-content: center;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.mainPageTitleBlock {
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mainPageTitle {
  color: white;
  font-family: "Montserrat";
  font-size: 6vw;
  text-shadow: 0 0 3px #0019ff;
  letter-spacing: 1.3vw;
  font-weight: 800;
  text-transform: uppercase;
}
.mainPageDescription {
  flex-direction: column;
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.1vw;
  text-shadow: 0 0 3px black;
}
.mainPageDescription .text{
  align-items: center;
}

.oLetter {
  margin: 0.3vw 0.1vw 0.1vw 0.1vw;
  display: inline-block;
  width: 1.2vw;
  height: 0.6vw;
  border: 2px solid white;
  border-radius: 8px;
  transform: translate(0px, 0px);
  filter: drop-shadow(0 0 3px black);
}

.mainPageAddress {
  color: white;
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  text-transform: uppercase;
  font-size: 0.7vw;
  font-weight: 300;
  letter-spacing: 0.07vw;
}

.mainPageLogoBlock {
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0.25vw;
  top: 0.25vw;
  width: 15vw;
  height: 7.5vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  color: white;
  background-color: #191f5021;
}

.logoTextBlock {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainPageLogo {
  width: 8vw;
  height: 2.7vw;
  margin: 0px 0px 3px 0px;
}
.mainPageLogoText {
  font-size: 0.7vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
}